{% extends 'base.html.twig' %}


{% block body %}
    <h2 class="page-header">Create URL</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <script>
        function checkUrl(){
            $.ajax({
                url: "test",
                data: { url: $("#form_url").val()},
                success: function(data, textStatus, xhr){
                    $("#form_status").val(data.status);
                    console.log(data);
                }
            });
        }
    </script>
{% endblock %}


