{% extends 'base.html.twig' %}


{% block body %}
    <h2 class="page-header">Create URL</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <script>
        function checkUrl(){
            $.ajax({
                url: "{{ path('url_test') }}",
                type: "POST",
                data: {  domain: $('#url_form_domain').val(), url: $('#url_form_url').val()},
                success: function(data, textStatus, xhr){
                    $("#url_form_status").val(data.status);

                    if(inArray(data.status,['200','201'])) {
                        $("#url_form_statusDesc").val("Valid ("+data.status+")");
                    } else {
                        $("#url_form_statusDesc").val("Not Valid ("+data.status+")");
                    }
                }
            });
        }

        function inArray(needle, haystack) {
            var length = haystack.length

            for(var i = 0; i < length; i++) {
                if(haystack[i] == needle) return true;
            }

            return false;
        }
    </script>
{% endblock %}


